<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        
        <!-- Cases -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cases
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cases-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Cases</a>
            </div>
        </li>
        
        <!-- Motherboards -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Motherboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="motherboards-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Motherboards</a>
            </div>
        </li>
        
        <!-- CPUs -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CPUs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cpus-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All CPUs</a>
            </div>
        </li>
        
        <!-- GPUs -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                GPUs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gpus-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All GPUs</a>
            </div>
        </li>
        
        <!-- RAM -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RAM
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ram-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All RAM</a>
            </div>
        </li>
        
        <!-- PSUs -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PSUs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="psus-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All PSUs</a>
            </div>
        </li>
        
        <!-- Storage -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Storage
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="storage-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Storage</a>
            </div>
        </li>
        
        <!-- Drives -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drives
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drives-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Drives</a>
            </div>
        </li>
    </ul>
</div>