<script>
    // Handle enabling/disabling of buttons
    function handleButtons(itemId) {
        let currentValue = parseInt($(`#id_qty_${itemId}`).val());
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    let qtyInputs = $('.qty_input');
    let hiddenQtyInputs = $('.hidden_qty_input');
    $(function() {
        // Check enable/disable on page load
        for(let i = 0; i < qtyInputs.length; i++){
            let itemId = $(qtyInputs[i]).data('item_id');
            handleButtons(itemId);
        }
        // Set hidden item quantity on page load
        for(let i=0; i < hiddenQtyInputs.length; i++){
            hiddenQtyInputs[i].value = qtyInputs[i].value;
        }
    });



    // Check enable/disable on input change
    $('.qty_input').change(function() {
        let itemId = $(this).data('item_id');
        handleButtons(itemId);
        updateHiddenQty(itemId);
    });

    // Update hidden value for form POST
    function updateHiddenQty(itemId) {
        let newValue = parseInt($(`#id_qty_${itemId}`).val());
        $(`#hidden-item-qty_${itemId}`).val(newValue);
    }

    // Increments quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        let itemId = $(this).data('item_id');
        let currentHiddenValue = parseInt($(`#hidden-item-qty_${itemId}`).val());
        $(`#hidden-item-qty_${itemId}`).val(currentHiddenValue + 1);
        handleButtons(itemId);
    });

    // Decrements quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        let itemId = $(this).data('item_id');
        let currentHiddenValue = parseInt($(`#hidden-item-qty_${itemId}`).val());
        $(`#hidden-item-qty_${itemId}`).val(currentHiddenValue - 1);
        handleButtons(itemId);
    });
</script>