{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">All Products</h2>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            {% for product in products %}
            <div class="row d-flex justify-content-center">
                <div class="col col-md-9 col-lg-7">
                    <div class="card product-card m-2">
                        <div
                            class="col-5 col-md-4 col-lg-4 product-img-container d-flex align-items-center justify-content-center">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="product-img p-1 img-fluid"
                                alt="{{ product.manufacturer }} {{ product.model }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}no-image.png" class="product-img p-1 img-fluid"
                                alt="{{ product.manufacturer }} {{ product.model }}">
                            {% endif %}
                        </div>
                        <div class="card-body col-7 col-md-8 col-lg-7">
                            <h5 class="card-title">{{ product.manufacturer }} {{ product.model }}</h5>
                            <p class="font-weight-bold">{{ product.price }} €</p>
                            {% if product.rating %}
                            <small class="text-muted"><i class="fa-solid fa-star-sharp"></i>{{ product.rating }}</small>
                            {% else %}
                            <small class="text-muted">No ratings yet</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}