{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            {% if category %}
            <h2 class="logo-font">{{ category|capfirst }}</h2>
            {% else %}
            <h2 class="logo-font">All Products</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-2 sorting-container text-center text-lg-start">
            <h4>Sort by:</h4>
            <ul id="sorting-list">
                <li class="my-2"><i class="fa-solid fa-angle-up"></i> <a
                        href="{% url 'products' %}?category={{category}}&sort=price&direction=asc">Price: Low to
                        High</a></li>
                <li class="my-2"><i class="fa-solid fa-angle-down"></i> <a
                        href="{% url 'products' %}?category={{category}}&sort=price&direction=desc">Price: High to
                        Low</a></li>
                <hr>
                <li class="my-2"><i class="fa-solid fa-angle-up"></i> <a
                        href="{% url 'products' %}?category={{category}}&sort=rating&direction=asc">Rating: Low to
                        High</a></li>
                <li class="my-2"><i class="fa-solid fa-angle-down"></i> <a
                        href="{% url 'products' %}?category={{category}}&sort=rating&direction=desc">Rating: High to
                        Low</a></li>
            </ul>
        </div>
        <div class="product-container col-12 col-lg-8">
            {% for product in page_obj %}
            <div class="row d-flex justify-content-center">
                <div class="col col-md-9 col-lg-7">
                    <div class="card product-card m-2">
                        <div class="col-5 col-md-4 col-lg-4">
                            {% if product.image %}
                            <a href="{% url 'product_details' product.category product.id %}"
                                class="product-img-container d-flex align-items-center justify-content-center">
                                <img src="{{ product.image.url }}" class="product-img p-2 img-fluid"
                                    alt="{{ product.manufacturer }} {{ product.model }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_details' product.category product.id %}"
                                class="product-img-container d-flex align-items-center justify-content-center">
                                <img src="{{ MEDIA_URL }}no-image.png" class="product-img p-1 img-fluid"
                                    alt="{{ product.manufacturer }} {{ product.model }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="card-body col-7 col-md-8 col-lg-7">
                            <h5 class="card-title">
                                <a href="{% url 'product_details' product.category product.id %}" class="logo-link">
                                    {{ product.manufacturer }} {{ product.model }}</a>
                            </h5>
                            <p class="font-weight-bold">{{ product.price }} €</p>
                            <p class="small mt-1 mb-0">
                                <a href="{% url 'products' %}?category={{ product.category }}"
                                    class="text-muted text-decoration-none">
                                    <i class="fa-solid fa-tags"></i>
                                    {{ product.category|capfirst }}
                                </a>
                            </p>
                            {% if product.rating %}
                            <small class="text-muted"><i class="fa-solid fa-star-sharp"></i>{{ product.rating }}</small>
                            {% else %}
                            <small class="text-muted">No ratings yet</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row text-center justify-content-center my-2">
    {% if page_obj.has_previous %}
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a class="btn btn-info" href="?page=1">&laquo; first</a>
        <a class="btn btn-info" href="?page={{ page_obj.previous_page_number }}" rel="prev">previous</a>
    </div>
    {% endif %}
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <span class="current mx-2 mx-lg-4">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>
    {% if page_obj.has_next %}
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}" rel="next">next</a>
        <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    </div>
    {% endif %}
</div>
<div class="row w-100">
    <div class="col go-top-button text-center p-1 m-0">
        <a class="go-top-link text-black d-flex h-100 justify-content-center">
            <i class="fa-solid fa-chevron-up"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.go-top-link').click(function (e) {
        window.scrollTo(0, 0)
    });
</script>
{% endblock %}