{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<!-- <div class="overlay"></div> -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="d-flex flex-column align-items-center justify-content-center my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank"
                    class="detail-img-container d-flex align-items-center justify-content-center">
                    <img src="{{ product.image.url }}" class="product-img-detail p-1 img-fluid"
                        alt="{{ product.manufacturer }} {{ product.model }}">
                </a>
                {% else %}
                <a href="{{ MEDIA_URL }}no-image.png" target="_blank"
                    class="detail-img-container d-flex align-items-center justify-content-center">
                    <img src="{{ MEDIA_URL }}no-image.png" class="product-img-detail p-1 img-fluid"
                        alt="{{ product.manufacturer }} {{ product.model }}">
                </a>
                {% endif %}
                <div class="product-info-container mt-4">
                    <h4>Details:</h4>
                    <h6>Manufacturer: {{ product.manufacturer }}</h6>
                    <h6>Model: {{ product.model }}</h6>
                    {% if product.category == 'case' %}
                    <h6>Max motherboard size: {{ product.get_mobo_sizes_display }}</h6>
                    {% elif product.category == 'motherboard' %}
                    <h6>Motherboard size: {{ product.get_size_display }}</h6>
                    <h6>CPU socket: {{ product.socket }}</h6>
                    <h6>RAM type: {{ product.get_ram_type_display }}</h6>
                    {% elif product.category == 'cpu' %}
                    <h6>Socket: {{ product.get_socket_display }}</h6>
                    <h6>Nr. of Cores: {{ product.core_count }}</h6>
                    {% elif product.category == 'gpu' %}
                    <h6>Core speed: {{ product.speed }} MHz</h6>
                    <h6>Memory capacity: {{ product.memory_capacity }} GB</h6>
                    {% elif product.category == 'ram' %}
                    <h6>Speed: {{ product.speed }} MHz</h6>
                    <h6>Memory capacity: {{ product.capacity }} GB</h6>
                    <h6>RAM type: {{ product.get_type_display }}</h6>
                    {% elif product.category == 'psu' %}
                    <h6>Wattage: {{ product.wattage }} W</h6>
                    <h6>Category: {{ product.get_e_category_display }}</h6>
                    {% elif product.category == 'storage' %}
                    <h6>Capacity: {{ product.capacity }} GB</h6>
                    <h6>Speed: {{ product.speed }} MB/s</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.manufacturer }} {{ product.model }}</p>
                {% if deal %}
                <p class="lead mb-0 text-left font-weight-bold"><span class="old-price">{{ product.price }}€</span>
                    {{ deal.price_new }}€ - <i class="fa-solid fa-tag"></i>Discount days remaining:
                    {{ deal.get_days_remaining }}</p>
                {% else %}
                <p class="lead mb-0 text-left font-weight-bold">{{ product.price }} €</p>
                {% endif %}
                <p class="small mt-1 mb-0">
                    <a href="{% url 'products' %}?category={{ product.category }}"
                        class="text-muted text-decoration-none">
                        <i class="fa-solid fa-tags"></i>
                        {{ product.category|capfirst }}
                    </a>
                </p>
                {% if product.rating %}
                <small class="text-muted"><i class="fa-solid fa-star"></i>{{ product.rating }}</small>
                {% else %}
                <small class="text-muted">No ratings yet</small>
                {% endif %}
                <hr>
                <p class="mt-3">{{ product.description }}</p>
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3">Quantity:</p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0"
                                            data-item_id="{{ product.category }}{{ product.id }}"
                                            id="decrement-qty_{{ product.category }}{{ product.id }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-minus fa-xl"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="number" class="form-control qty_input" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.category }}{{ product.id }}"
                                        id="id_qty_{{ product.category }}{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0"
                                            data-item_id="{{ product.category }}{{ product.id }}"
                                            id="increment-qty_{{ product.category }}{{ product.id }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-plus fa-xl"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 mt-5 text-uppercase">
                                Back to products
                            </a>
                            <input type="submit" class="btn btn-success rounded-0 text-uppercase mt-5"
                                value="Add to bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input type="hidden" name="product_friendly_name"
                            value="{{ product.manufacturer }} {{ product.model }}">
                    </div>
                </form>
                {% if request.user.is_superuser %}
                <hr>
                <div class="row d-flex">
                    <div class="col-4">
                        <a href="{% url 'admin_edit_product' category=product.category id=product.id operation='edit' %}"
                            class="btn btn-warning">Edit
                            product</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="{% url 'add_deal' category=product.category id=product.id %}"
                            class="btn btn-success">Add Deal</a>
                    </div>
                    <div class="col-4 justify-content-end text-end">
                        <form
                            action="{% url 'admin_edit_product' category=product.category id=product.id operation='delete' %}"
                            method="POST" id="deleteForm">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger" id="deleteButton" data-bs-toggle="modal"
                                data-bs-target="#deleteModal">Delete</button>
                        </form>
                    </div>
                </div>
                <!-- Delete Item Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete product {{ product.manufacturer }} {{ product.model }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="submitButton">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h3>Reviews:</h3>
            {% if request.user.is_authenticated and not user_has_reviewed %}
            <h5>Add a review:</h5>
            <form action="{% url 'add_review' category=product.category id=product.id %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
            {% endif %}
            <hr>
            {% if reviews %}
            {% for review in reviews %}
            <h5>User {{ review.user }} reviewed:</h5>
            <h6><i class="fa-solid fa-star"></i> {{ review.score }}</h6>
            <p>{{ review.comment }}</p>
            <hr>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type=" text/javascript">
    $('#submitButton').click(function () {
        $('#deleteForm').submit();
    })
</script>
{% endblock %}