<div class="toast align-items-center text-white bg-info border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-header">
            <div class="icon text-white"><i class="fa-solid fa-circle-info"></i></div>
            <strong class="me-auto">Alert!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
</div>